


table  {
    width: 100%
    
}
    

  
tr{
    width: 300ppx;
   height: 50px;
}
th{
    width: 700px;
}

th {
    text-align: center;
}
tr{
    text-align: l center;
}
td{
    text-align: center;
}

table , th ,td ,tr {
        border: 2px solid black;
        border-collapse: collapse;
       padding: 7px;
      }

tr:nth-child(even){
    background-color: #f9f9f9;
}
